body {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    background-color: bisque;
}

h1 {
    background-color: rgb(255, 208, 0);
    text-align: center;
}

.un-list {
    display: grid;
    place-items: center;
}

img {
    display: block;
    margin: 0 auto;
    width: 40%;
}

p {
    text-align: center;
}

.header {
    text-align: center;
}